.env
node_modules

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*o
*.a
*.so

# Folders
_obj
_test
vendor/

# Compiled binary files
*.exe
*.out


# Go specific files
# Compiled binary for packages and commands
/bin/


# vite
# Logs
todo-vite-ts-react/logs
todo-vite-ts-react/*.log
todo-vite-ts-react/npm-debug.log*
todo-vite-ts-react/yarn-debug.log*
todo-vite-ts-react/yarn-error.log*
todo-vite-ts-react/pnpm-debug.log*
todo-vite-ts-react/lerna-debug.log*

todo-vite-ts-react/node_modules
todo-vite-ts-react/dist
todo-vite-ts-react/dist-ssr
todo-vite-ts-react/*.local

# Editor directories and files
.vscode/*
.vscode/extensions.json
todo-vite-ts-react/.idea
todo-vite-ts-react/.DS_Store
todo-vite-ts-react/*.suo
todo-vite-ts-react/*.ntvs*
todo-vite-ts-react/*.njsproj
todo-vite-ts-react/*.sln
todo-vite-ts-react/*.sw?

tmp/build-errors.log
tmp/main

!main.go